In [1]:
from datetime import datetime

import pandas as pd

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
def parser(s):
    if pd.isna(s):
        return
    if len(s) <= 10:
        return datetime.strptime(s, '%Y-%m-%d')
    return datetime.strptime(s, '%Y-%m-%d %H:%M:%S')

In [4]:
df = pd.read_csv('Cross Road Analytics Competition Dataset.csv',
                 low_memory=False,
                 parse_dates=['event_date', 'add_datetime', 'ResaleDate'],
                 date_parser=parser)

In [5]:
df.sample(5)

            acct_id acct_type_desc event_name event_date plan_event_name comp_name  section_name row_name  SeatNum price_code PC1  Price paid        add_datetime class_name status  Sales_Source  isHost SeatType TicketClass  Start Year  LastYear  Term TicketType SeatUniqueID  Season  ClubExpYear  Tenure           UniqueID isAttended Resold  ResalePrice ResaleDate  isSTM
87264    0124621590         Season   CLT21JAX 2021-11-14            21FS  Not Comp           228        1       11         FR   F  111.0    Y 2021-03-31 16:19:39       OPEN   SOLD           NaN       0       GA    Manifest         NaN       NaN   NaN    Renewal     228-1-11    2021          NaN    21.0  CLT21JAX-228-1-11        Yes    NaN          NaN        NaT    NaN
359401  01773331790       Personal   CLT21NYJ 2021-11-04             NaN  Not Comp           431        9       11       LGZ4   L   81.0    Y 2021-11-03 10:28:11      GROUP   SOLD           NaN       0       GA    Manifest         NaN       NaN   NaN      Group     431-9-11    2021          NaN     1.0  CLT21NYJ-431-9-11        Yes    NaN          NaN        NaT    NaN
109773   0117622090         Season   CLT21JAX 2021-11-14            21FS  Not Comp           537        1        5         KR   K   86.0    Y 2021-04-01 08:24:32       OPEN   SOLD           NaN       0       GA    Manifest         NaN       NaN   NaN    Renewal      537-1-5    2021          NaN    25.0   CLT21JAX-537-1-5        Yes    NaN          NaN        NaT    NaN
636151  01247817290       Employee   CLT21TEN 2021-10-31            21FS  Not Comp           629       11        7         TR   T   53.0    Y 2021-07-29 09:27:13       OPEN   SOLD           NaN       0       GA    Manifest         NaN       NaN   NaN   Employee     629-11-7    2021          NaN     8.0  CLT21TEN-629-11-7        Yes    NaN          NaN        NaT    NaN
694469  01828698990          House   CLT22HOU 2023-01-08             NaN  Not Comp           614       20        9        NE1   N   58.0    N 2022-12-26 12:30:42    VT SELL   SOLD           NaN       0       GA    Manifest         NaN       NaN   NaN     Broker     614-20-9    2022          NaN     0.0  CLT22HOU-614-20-9        ???    NaN          NaN        NaT    NaN

# Event Level

In [ ]:
fill_rate_df = (df.groupby(['event_date'])['isAttended'].value_counts(
    normalize=True, dropna=False)*100).to_frame('fill_rate').reset_index()

fill_rate_df = fill_rate_df[fill_rate_df.isAttended != 'No'].copy()

In [ ]:
fill_rate_df['fill_rate_lag_1'] = fill_rate_df['fill_rate'].shift(1)
fill_rate_df['fill_rate_lag_2'] = fill_rate_df['fill_rate'].shift(2)
fill_rate_df['fill_rate_lag_3'] = fill_rate_df['fill_rate'].shift(3)

In [ ]:
# fill_rate_df.to_csv('fill_rate.csv', index=False)

# Seat Level

In [6]:
df.SeatUniqueID.value_counts()

101-10-1     20
453-20-16    20
453-2-4      20
453-2-5      20
453-2-6      20
             ..
218-8-25     20
616-19-19    19
616-19-17    19
616-19-20    19
616-19-18    19
Name: SeatUniqueID, Length: 64346, dtype: int64

In [26]:
event_seat_is_attended_df = df[['event_date', 'SeatUniqueID', 'isAttended']].sort_values(
    ['event_date', 'SeatUniqueID', 'isAttended'])

In [27]:
event_seat_is_attended_df.head()

       event_date SeatUniqueID isAttended
386076 2021-08-15     101-10-1        Yes
386077 2021-08-15    101-10-10         No
386078 2021-08-15    101-10-11         No
386079 2021-08-15    101-10-12         No
386080 2021-08-15    101-10-13        Yes

In [28]:
event_date_df = df['event_date'].drop_duplicates().reset_index().drop(
    columns=['index']).sort_values(['event_date'])

event_date_df['lagged_date_1'] = event_date_df['event_date'].shift(1)
event_date_df['lagged_date_2'] = event_date_df['event_date'].shift(2)
event_date_df['lagged_date_3'] = event_date_df['event_date'].shift(3)

In [29]:
event_date_df.head()

  event_date lagged_date_1 lagged_date_2 lagged_date_3
6 2021-08-15           NaT           NaT           NaT
7 2021-09-12    2021-08-15           NaT           NaT
2 2021-09-19    2021-09-12    2021-08-15           NaT
0 2021-10-17    2021-09-19    2021-09-12    2021-08-15
9 2021-10-31    2021-10-17    2021-09-19    2021-09-12

In [30]:
merged_df = event_seat_is_attended_df.merge(event_date_df, on='event_date', how='left')

In [31]:
event_seat_is_attended_df.head()

       event_date SeatUniqueID isAttended
386076 2021-08-15     101-10-1        Yes
386077 2021-08-15    101-10-10         No
386078 2021-08-15    101-10-11         No
386079 2021-08-15    101-10-12         No
386080 2021-08-15    101-10-13        Yes

In [32]:
merged_df.sample(100)

        event_date SeatUniqueID isAttended lagged_date_1 lagged_date_2 lagged_date_3
726269  2022-08-27     204-7-16        Yes    2022-08-20    2022-01-02    2021-12-18
1025327 2022-10-30      637-5-2        Yes    2022-10-16    2022-10-02    2022-09-25
369562  2021-11-04    608-18-12        Yes    2021-10-31    2021-10-17    2021-09-19
12651   2021-08-15    139-22-19        Yes           NaT           NaT           NaT
578720  2021-12-18     645-6-25        Yes    2021-11-28    2021-11-14    2021-11-04
502035  2021-11-28      615-7-6        Yes    2021-11-14    2021-11-04    2021-10-31
543332  2021-12-18     320-4N-7        Yes    2021-11-28    2021-11-14    2021-11-04
699993  2022-08-20    628-18-24         No    2022-01-02    2021-12-18    2021-11-28
862717  2022-10-02     244-13-6        Yes    2022-09-25    2022-08-27    2022-08-20
436916  2021-11-14    614-14-20         No    2021-11-04    2021-10-31    2021-10-17
931857  2022-10-16     401-4-24        Yes    2022-10-02    2022-09-25    2022-08-27
377428  2021-11-04     627-10-9        Yes    2021-10-31    2021-10-17    2021-09-19
1772    2021-08-15     103-22-3        Yes           NaT           NaT           NaT
335848  2021-11-04    143-15-13        Yes    2021-10-31    2021-10-17    2021-09-19
1106338 2022-11-28     139-13-5        Yes    2022-11-20    2022-10-30    2022-10-16
300450  2021-10-31     453-9-10        Yes    2021-10-17    2021-09-19    2021-09-12
204720  2021-10-17    137-14-13        Yes    2021-09-19    2021-09-12    2021-08-15
1269844 2023-01-08     606-8-12        ???    2022-12-26    2022-11-28    2022-11-20
466940  2021-11-28      151-5-6        Yes    2021-11-14    2021-11-04    2021-10-31
1006070 2022-10-30     449-3-25        Yes    2022-10-16    2022-10-02    2022-09-25
311568  2021-10-31     624-28-3        Yes    2021-10-17    2021-09-19    2021-09-12
1058019 2022-11-20     320-1-19        Yes    2022-10-30    2022-10-16    2022-10-02
1091149 2022-11-20     640-9-13        Yes    2022-10-30    2022-10-16    2022-10-02
965284  2022-10-30    101-14-15         No    2022-10-16    2022-10-02    2022-09-25
724449  2022-08-27     152-12-1         No    2022-08-20    2022-01-02    2021-12-18
1229539 2023-01-08    117-17-18        ???    2022-12-26    2022-11-28    2022-11-20
1178235 2022-12-26      212-9-3         No    2022-11-28    2022-11-20    2022-10-30
372018  2021-11-04     613-10-2        Yes    2021-10-31    2021-10-17    2021-09-19
1268253 2023-01-08    540-5W-14        ???    2022-12-26    2022-11-28    2022-11-20
203811  2021-10-17     135-19-2        Yes    2021-09-19    2021-09-12    2021-08-15
1047358 2022-11-20    153-25-14        Yes    2022-10-30    2022-10-16    2022-10-02
444575  2021-11-14    634-11-10        Yes    2021-11-04    2021-10-31    2021-10-17
404907  2021-11-14     206-9-13        Yes    2021-11-04    2021-10-31    2021-10-17
813798  2022-09-25   451-22N-18        Yes    2022-08-27    2022-08-20    2022-01-02
688471  2022-08-20      531-2-2        Yes    2022-01-02    2021-12-18    2021-11-28
654912  2022-08-20     136-6-11        Yes    2022-01-02    2021-12-18    2021-11-28
400933  2021-11-14      144-2-6        Yes    2021-11-04    2021-10-31    2021-10-17
98877   2021-09-12      416-6-8        Yes    2021-08-15           NaT           NaT
427438  2021-11-14    451-11-21        Yes    2021-11-04    2021-10-31    2021-10-17
634991  2022-01-02    627-18-19        ???    2021-12-18    2021-11-28    2021-11-14
857681  2022-10-02    218-12-15        Yes    2022-09-25    2022-08-27    2022-08-20
655870  2022-08-20    139-11-18         No    2022-01-02    2021-12-18    2021-11-28
1133074 2022-11-28      440-3-2        Yes    2022-11-20    2022-10-30    2022-10-16
356980  2021-11-04      419-8-8         No    2021-10-31    2021-10-17    2021-09-19
391614  2021-11-14     114-11-5        Yes    2021-11-04    2021-10-31    2021-10-17
1212629 2022-12-26    625-11-18        Yes    2022-11-28    2022-11-20    2022-10-30
250024  2021-10-17      629-1-4        Yes    2021-09-19    2021-09-12    2021-08-15
385716  2021-11-04     645-8-10         No    2021-10-31    2021-10-17    2021-09-19
640361  2022-01-02    640-12-19        ???    2021-12-18    2021-11-28    2021-11-14
610347  2022-01-02   401-SR2-48        ???    2021-12-18    2021-11-28    2021-11-14
1165052 2022-12-26    117-11-20         No    2022-11-28    2022-11-20    2022-10-30
1170939 2022-12-26      139-3-2        Yes    2022-11-28    2022-11-20    2022-10-30
1024432 2022-10-30      635-8-4         No    2022-10-16    2022-10-02    2022-09-25
821260  2022-09-25    610-20-18        Yes    2022-08-27    2022-08-20    2022-01-02
690379  2022-08-20      605-6-1        Yes    2022-01-02    2021-12-18    2021-11-28
525407  2021-12-18     135-10-5        Yes    2021-11-28    2021-11-14    2021-11-04
1202633 2022-12-26      522-1-7        Yes    2022-11-28    2022-11-20    2022-10-30
253366  2021-10-17    638-13-10        Yes    2021-09-19    2021-09-12    2021-08-15
433801  2021-11-14     608-13-6        Yes    2021-11-04    2021-10-31    2021-10-17
31920   2021-08-15     403-11-3        Yes           NaT           NaT           NaT
813789  2022-09-25    451-22N-1        Yes    2022-08-27    2022-08-20    2022-01-02
479351  2021-11-28      326-1-5        Yes    2021-11-14    2021-11-04    2021-10-31
603487  2022-01-02     235-8-22        ???    2021-12-18    2021-11-28    2021-11-14
572799  2021-12-18      632-2-8        Yes    2021-11-28    2021-11-14    2021-11-04
121220  2021-09-12      628-5-8        Yes    2021-08-15           NaT           NaT
670626  2022-08-20      249-5-6        Yes    2022-01-02    2021-12-18    2021-11-28
578671  2021-12-18      645-4-3        Yes    2021-11-28    2021-11-14    2021-11-04
874186  2022-10-02     431-9-27         No    2022-09-25    2022-08-27    2022-08-20
596046  2022-01-02     152-24-5        ???    2021-12-18    2021-11-28    2021-11-14
694017  2022-08-20     613-3-13         No    2022-01-02    2021-12-18    2021-11-28
1000859 2022-10-30    422-10-25        Yes    2022-10-16    2022-10-02    2022-09-25
870934  2022-10-02     416-2-15        Yes    2022-09-25    2022-08-27    2022-08-20
1159221 2022-12-26    102-18-16        Yes    2022-11-28    2022-11-20    2022-10-30
897468  2022-10-02    639-20-13        Yes    2022-09-25    2022-08-27    2022-08-20
69202   2021-09-12     112-22-2        Yes    2021-08-15           NaT           NaT
94128   2021-09-12      338-1-9        Yes    2021-08-15           NaT           NaT
274611  2021-10-31    152-36-13        Yes    2021-10-17    2021-09-19    2021-09-12
1139582 2022-11-28     541-1-20        Yes    2022-11-20    2022-10-30    2022-10-16
1042557 2022-11-20    140-18-10        Yes    2022-10-30    2022-10-16    2022-10-02
657950  2022-08-20     143-8-12         No    2022-01-02    2021-12-18    2021-11-28
995823  2022-10-30     401-10-6        Yes    2022-10-16    2022-10-02    2022-09-25
108800  2021-09-12     522-3-25        Yes    2021-08-15           NaT           NaT
943362  2022-10-16   452-SR1-21         No    2022-10-02    2022-09-25    2022-08-27
469506  2021-11-28      208-7-7        Yes    2021-11-14    2021-11-04    2021-10-31
718203  2022-08-27    132-18-24         No    2022-08-20    2022-01-02    2021-12-18
678166  2022-08-20      417-5-7         No    2022-01-02    2021-12-18    2021-11-28
1259546 2023-01-08      428-8-9        ???    2022-12-26    2022-11-28    2022-11-20
491637  2021-11-28     450-20-7        Yes    2021-11-14    2021-11-04    2021-10-31
102432  2021-09-12     434-11-1        Yes    2021-08-15           NaT           NaT
553302  2021-12-18      435-9-9        Yes    2021-11-28    2021-11-14    2021-11-04
59721   2021-08-15     636-8-18         No           NaT           NaT           NaT
542773  2021-12-18      314-2-1        Yes    2021-11-28    2021-11-14    2021-11-04
1049350 2022-11-20     212-1-14        Yes    2022-10-30    2022-10-16    2022-10-02
1229465 2023-01-08    117-14-16        ???    2022-12-26    2022-11-28    2022-11-20
671450  2022-08-20     314-1-14        Yes    2022-01-02    2021-12-18    2021-11-28
382452  2021-11-04    639-10-19        Yes    2021-10-31    2021-10-17    2021-09-19
775693  2022-09-25    109-24-13        Yes    2022-08-27    2022-08-20    2022-01-02
974269  2022-10-30    126-17-14         No    2022-10-16    2022-10-02    2022-09-25
235954  2021-10-17     453-20-9         No    2021-09-19    2021-09-12    2021-08-15
1118106 2022-11-28     235-13-2        Yes    2022-11-20    2022-10-30    2022-10-16

In [33]:
merged_df = merged_df.merge(event_seat_is_attended_df,
                            left_on=['lagged_date_1', 'SeatUniqueID'],
                            right_on=['event_date', 'SeatUniqueID'],
                            how='left', suffixes=('', '_lagg_1'))

merged_df = merged_df.merge(event_seat_is_attended_df,
                            left_on=['lagged_date_2', 'SeatUniqueID'],
                            right_on=['event_date', 'SeatUniqueID'],
                            how='left', suffixes=('', '_lagg_2'))

merged_df = merged_df.merge(event_seat_is_attended_df,
                            left_on=['lagged_date_3', 'SeatUniqueID'],
                            right_on=['event_date', 'SeatUniqueID'],
                            how='left', suffixes=('', '_lagg_3'))

In [36]:
merged_df.head()

  event_date SeatUniqueID isAttended lagged_date_1 lagged_date_2 lagged_date_3 event_date_lagg_1 isAttended_lagg_1 event_date_lagg_2 isAttended_lagg_2 event_date_lagg_3 isAttended_lagg_3
0 2021-08-15     101-10-1        Yes           NaT           NaT           NaT               NaT               NaN               NaT               NaN               NaT               NaN
1 2021-08-15    101-10-10         No           NaT           NaT           NaT               NaT               NaN               NaT               NaN               NaT               NaN
2 2021-08-15    101-10-11         No           NaT           NaT           NaT               NaT               NaN               NaT               NaN               NaT               NaN
3 2021-08-15    101-10-12         No           NaT           NaT           NaT               NaT               NaN               NaT               NaN               NaT               NaN
4 2021-08-15    101-10-13        Yes           NaT           NaT           NaT               NaT               NaN               NaT               NaN               NaT               NaN

In [43]:
merged_df_ = merged_df[['event_date', 'SeatUniqueID', 'isAttended_lagg_1',
                        'isAttended_lagg_2', 'isAttended_lagg_3']].copy()

In [52]:
merged_df_['isAttended_lagg_1'] = merged_df_['isAttended_lagg_1'].fillna('???').replace('???', None)
merged_df_['isAttended_lagg_2'] = merged_df_['isAttended_lagg_2'].fillna('???').replace('???', None)
merged_df_['isAttended_lagg_3'] = merged_df_['isAttended_lagg_3'].fillna('???').replace('???', None)

In [59]:
merged_df_['isAttended_lagg_1'] = merged_df_['isAttended_lagg_1'].replace({'Yes': 1, 'No': 0})
merged_df_['isAttended_lagg_2'] = merged_df_['isAttended_lagg_2'].replace({'Yes': 1, 'No': 0})
merged_df_['isAttended_lagg_3'] = merged_df_['isAttended_lagg_3'].replace({'Yes': 1, 'No': 0})

In [60]:
print(merged_df_['isAttended_lagg_1'].unique())
print(merged_df_['isAttended_lagg_2'].unique())
print(merged_df_['isAttended_lagg_3'].unique())

[nan  1.  0.]
[nan  1.  0.]
[nan  1.  0.]

In [63]:
print(merged_df_['isAttended_lagg_1'].value_counts(dropna=False))
print(merged_df_['isAttended_lagg_2'].value_counts(dropna=False))
print(merged_df_['isAttended_lagg_3'].value_counts(dropna=False))

1.0    900941
0.0    257283
NaN    128692
Name: isAttended_lagg_1, dtype: int64
1.0    847701
0.0    246177
NaN    193038
Name: isAttended_lagg_2, dtype: int64
1.0    791833
NaN    257384
0.0    237699
Name: isAttended_lagg_3, dtype: int64

In [68]:
merged_df_.sample(50)

        event_date SeatUniqueID  isAttended_lagg_1  isAttended_lagg_2  isAttended_lagg_3
1031922 2022-11-20     105-19-9                1.0                1.0                1.0
518012  2021-12-18     109-12-5                1.0                1.0                1.0
525190  2021-12-18    132-19-23                1.0                0.0                0.0
323119  2021-11-04   102-36W-12                0.0                0.0                0.0
395532  2021-11-14      127-9-4                1.0                1.0                1.0
6310    2021-08-15    116-14-18                NaN                NaN                NaN
345185  2021-11-04    230-10-15                1.0                1.0                1.0
883014  2022-10-02     604-14-4                1.0                1.0                0.0
1098022 2022-11-28    110-23-15                1.0                1.0                1.0
492102  2021-11-28    451-23N-5                1.0                0.0                0.0
168105  2021-09-19      442-5-9                0.0                0.0                NaN
766832  2022-08-27     635-19-3                0.0                NaN                1.0
768858  2022-08-27     639-5-13                1.0                NaN                1.0
141158  2021-09-19    139-14-14                1.0                1.0                NaN
847290  2022-10-02    135-20-13                1.0                1.0                0.0
341060  2021-11-04      209-6-4                1.0                0.0                1.0
490359  2021-11-28      445-2-8                1.0                1.0                1.0
1258103 2023-01-08      420-6-2                1.0                1.0                1.0
430382  2021-11-14      520-2-9                1.0                1.0                1.0
635576  2022-01-02     628-15-5                0.0                1.0                1.0
1194738 2022-12-26     425-8-20                1.0                1.0                1.0
441070  2021-11-14      625-8-3                1.0                1.0                1.0
741522  2022-08-27      410-8-3                1.0                NaN                1.0
1108864 2022-11-28    144-25-10                1.0                1.0                0.0
510614  2021-11-28      637-7-4                1.0                1.0                1.0
860163  2022-10-02      231-2-9                1.0                1.0                1.0
524211  2021-12-18    127-26W-7                0.0                0.0                0.0
820163  2022-09-25    608-24-20                1.0                0.0                NaN
70501   2021-09-12      115-7-3                1.0                NaN                NaN
997064  2022-10-30   402-SR2-38                0.0                0.0                0.0
78087   2021-09-12     141-9-19                0.0                NaN                NaN
143272  2021-09-19     144-1-16                1.0                1.0                NaN
135455  2021-09-19      116-C-9                0.0                0.0                NaN
1067062 2022-11-20      431-3-2                1.0                1.0                1.0
810160  2022-09-25     433-8-18                1.0                1.0                NaN
1264555 2023-01-08    452-10-13                1.0                1.0                0.0
1007901 2022-10-30    453-13-19                0.0                0.0                1.0
124445  2021-09-12      637-3-4                1.0                NaN                NaN
775297  2022-09-25      108-9-2                1.0                1.0                NaN
329511  2021-11-04    121-11-10                1.0                1.0                1.0
1129523 2022-11-28     422-1-18                1.0                1.0                1.0
1259482 2023-01-08     428-6-16                1.0                1.0                1.0
674583  2022-08-20     401-9-15                NaN                1.0                1.0
677897  2022-08-20     416-2-16                NaN                1.0                1.0
66575   2021-09-12    105-13-21                1.0                NaN                NaN
136999  2021-09-19    124-17-17                1.0                0.0                NaN
732675  2022-08-27      237-5-9                1.0                NaN                1.0
1004699 2022-10-30     443-2-15                1.0                1.0                1.0
377426  2021-11-04     627-10-7                1.0                0.0                1.0
1234247 2023-01-08     137-13-5                1.0                1.0                1.0

In [66]:
# merged_df_.to_csv('seat_level_lagged_isattended.csv', index=False)